.notes-container {
  background: white;
  border-radius: 10px;
  margin-top: 20px;
}
.notes-title {
  display: flex;
  align-items: center;
  padding: 15px;
  font-size: 1.5rem;
  border-bottom: 1px solid #e3e8f1;
}
.notes-icon {
  display: flex;
  background: #0a8a98;
  height: 40px;
  width: 40px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.3rem;
  margin-right: 20px;
}
.notes-list {
  min-height: 250px;
}
.notes-table {
  text-align: left;
  border-collapse: collapse;
  width: 100%;
}
.notes-table > tr {
  color: #8b8e95;
  border-bottom: 1px solid #eaeff7;
}
.notes-table > tr:first-child {
  color: #8694a9;
  border-bottom: 2px solid #c4cee2;
}
th {
  padding: 15px;
}
td {
  padding: 12px 15px;
  align-items: center;
}
.note-icon-avatar {
  color: #eae9ea;
  margin-right: 5px;
}
.notes-action {
  text-align: right;
  border-top: 1px solid #c4cee2;
  padding: 20px;
}
.notes-action span {
  color: #8b8e95;
  cursor: pointer;
}
.notes-action span:hover {
  color: #6db3bd;
  text-decoration: underline;
}
.table-rows {
  font-size: .9rem;
}
