.app-header {
    padding: 12px 0;
    display: flex;
    border-bottom: 7px solid #09b0c7;
}
.app-header img {
    margin: 0 auto;
}
.app-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #b9c6de;
    padding: 15px;
    color: #555454;
}
.app-footer span span {
    color: #555454;
    cursor: pointer;
}
.app-footer span span:hover {
    color: #6db3bd;
    text-decoration: underline;
}
